// the old file read this 
.block-label {
  display: block;
  float: none;
  clear: left;
  position: relative;
  background: #dee0e2;
  border: 1px solid #dee0e2;
  padding: 18px 30px 15px 54px;
  margin-bottom: 10px;
  cursor: pointer;
}
